<nav class="navbar">
	<ul class="nav-links">
		<li><a href="/">Home</a></li>
	</ul>
	<div class="auth-links">
		<% if (name) { %>
		<a href="/logout">Logout</a>
		<% } else { %>
		<a href="/login">Login</a>
		<% } %>
	</div>
</nav>
