/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  position: relative;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0 auto; /* Center the nav-links */
  display: flex;
  gap: 1em;
  justify-content: center;
  position: absolute; /* Position absolute to center it */
  left: 50%;
  transform: translateX(-50%);
}

.nav-links li {
  display: inline;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
}

.welcome-message {
  position: absolute;
  left: 1em; /* Position the name at the top left */
  display: flex;
  align-items: center;
}

.logout-link {
  position: absolute;
  right: 1em; /* Position the logout link at the top right */
  display: flex;
  align-items: center;
}

.welcome-message p {
  margin: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding-top: 2em; /* Add some padding at the top */
}

.main-content h1 {
  font-size: 3em;
  font-weight: bold;
}

.main-content ul {
  list-style: none;
  padding: 0;
}

.main-content ul li {
  font-size: 1.2em;
  margin-top: 0.5em;
}
